# =========================
# Tuist
# =========================
Derived/
Tuist/.build/
Tuist/.tuist-version

# =========================
# Xcode
# =========================
*.xcuserstate
*.xcuserdata
*.xccheckout
*.xcscmblueprint

# Workspaces
*.xcworkspace/xcuserdata/

# Derived data
DerivedData/
build/

# Swift Package Manager
.build/
Packages/
Package.resolved

# =========================
# macOS
# =========================
.DS_Store
.AppleDouble
.LSOverride

# =========================
# Logs
# =========================
*.log

# =========================
# Secrets / env
# =========================
.env
.env.*

# =========================
# Fastlane (si lo usas en el futuro)
# =========================
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# =========================
# Crash reports
# =========================
*.crash
.tuist-generated
WorkspaceSettings.xcsettings
xcschememanagement.plist
project.pbxproj
MacrolatorWS/Projects/Macrolator/Macrolator.xcodeproj/xcshareddata/xcschemes/MacrolatorCore.xcscheme
MacrolatorWS/Projects/Macrolator/Macrolator.xcodeproj/xcshareddata/xcschemes/MacrolatoriOS.xcscheme
MacrolatorApp.xcscheme
